<div class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-bottom mt-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="bi bi-emoji-smile-upside-down"></i> CP Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link" href="{{ path('post_index') }}"><i class="bi bi-eye-fill"></i> Article</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ path('post_new') }}"><i class="bi bi-pencil-square"></i> Nouveau</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ path('contact') }}"><i class="bi bi-envelope-open"></i> Contact</a>
                </li>
            </ul>
            <div class="d-flex">
                <div class="text-white"><i class="bi bi-globe"></i> www.checkpoint4.com</div>
            </div>
    </div>
</div>