{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
<div class="container">
    <h1>Créé nouvel article </h1>

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('post_index') }}" class="btn btn-success">Retour liste</a>
</div>
{% endblock %}
